background: #c501e1; /* Old browsers */
background: -moz-linear-gradient(left, #c501e1 0%, #ffffff 45%, #ffffff 55%, #c501e1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #c501e1 0%,#ffffff 45%,#ffffff 55%,#c501e1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #c501e1 0%,#ffffff 45%,#ffffff 55%,#c501e1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c501e1', endColorstr='#c501e1',GradientType=1 ); /* IE6-9 */
