.cube-side {
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-image: url(../Assets/tealNeonBorder.jpg) 30% round;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
}
.cube-side-front {
  border: 10px solid transparent;
  border-image: url(../Assets/tealNeonBorder.jpg) 30% round;
}
.cube-side-back {
  border: 10px solid transparent;
  border-image: url(../Assets/tealNeonBorder.jpg) 30% round;
}
.cube-side-top {
  border: 0px solid transparent;
  border-image: url(../Assets/tealNeonBorder.jpg) 30% round;
}
.cube-side-bottom {
  border: 0px solid transparent;
  border-image: url(../Assets/tealNeonBorder.jpg) 30% round;
}
.cube-side-left {
  border: 0px solid transparent;
  border-image: url(../Assets/tealNeonBorder.jpg) 30% round;
}
.cube-side-right {
  border: 0px solid transparent;
  border-image: url(../Assets/tealNeonBorder.jpg) 30% round;
}
