.cube-stage {
  position: absolute;
  width: 200px;
  height: 200px;
  -webkit-perspective: 1600px;
  perspective: 800px;
  -webkit-perspective-origin: 50% -240px;
  perspective-origin: 50%;
}
.cube-neon {
  position: absolute;
  top: 50px;
  width: 100px;
  height: 100px;
  left: 50px;
  top: 50px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
-webkit-transform: rotateY(30deg);
-webkit-transform: rotateX(30deg);
-webkit-animation: rotate 6s infinite linear;
}
@-webkit-keyframes rotate {
  0% { -webkit-transform: rotateX(0deg) rotateY(0deg);}
  100% { -webkit-transform: rotateX(360deg) rotateY(360deg);}
}
