.cube-side {
  position: absolute;
  border: 10px solid transparent;
  border-image: url(../Assets/tealNeonBorder.jpg) 30% round;
}
.cube-side-front {
  border: 10px solid transparent;
  border-image: url(../Assets/tealNeonBorder.jpg) 30% round;
  top: 0px;
  margin-top: 10px;
  width: 100px;
  height: 100px;
}
.cube-side-top {
  border: 0px solid transparent;
  border-image: url(../Assets/tealNeonBorder.jpg) 30% round;
  top: 0px;
  margin-top: 10px;
  width: 100px;
  height: 0px;
}
.cube-side-back {
  border: 10px solid transparent;
  border-image: url(../Assets/tealNeonBorder.jpg) 30% round;
  top: 0px;
  margin-top: 10px;
  width: 100px;
  height: 100px;
}
.cube-side-bottom {
  border: 0px solid transparent;
  border-image: url(../Assets/tealNeonBorder.jpg) 30% round;
  top: 100px;
  margin-top: 10px;
  width: 100px;
  height: 0px;
}
.cube-side-left {
  border: 0px solid transparent;
  border-image: url(../Assets/tealNeonBorder.jpg) 30% round;
  left: 0px;
  margin-top: 10px;
  width: 0px;
  height: 100px;
}
.cube-side-right {
  border: 0px solid transparent;
  border-image: url(../Assets/tealNeonBorder.jpg) 30% round;
  left: 100px;
  margin-top: 10px;
  width: 0px;
  height: 100px;
}
